<div class="container"></div>
<div class="shadow"></div>
<div class="cat">
  <div class="ear"></div>
  <div class="eye"></div>
  <div class="mouth"></div>
  <div class="nose"></div>
  <div class="tail"></div>
  <div class="body"></div>
  <div class="bubble"></div>
</div>