<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meow Indicator</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="textbox">
      <h1>Kia Ora!</h1>
      <h2>What is your name?</h2>
      <form method="POST" action="/mood">
        <label>
          Name:
          <input type="text" name="myName" />
        </label>
        <button>Greet me!</button>
      </form>
    </div>
    <div class="container">
      <div class="shadow"></div>
      <div class="cat">
        <div class="ear"></div>
        <div class="eye"></div>
        <div class="mouth"></div>
        <div class="nose"></div>
        <div class="tail"></div>
        <div class="body"></div>
        <div class="bubble"></div>
      </div>
    </div>
  </body>
</html>