


<div class="title">
  <h2>游游멇릟뫯릟游멇릟뫯릟游멇릟뫯릟游멇릟뫯릟游멇릟뫯릟游멇릟</h2>
  <h1 class="title_color">Welcome to this Fishy Website</h1>
  <h2>游游멇릟뫯릟游멇릟뫯릟游멇릟뫯릟游멇릟뫯릟游멇릟뫯릟游멇릟</h2>

  <div class="fish">
    <h3>Cool!
      <br />
      Now this is how much you need to dose
      <br />
      to bring the calcium parameter back to 1450ppm!</h3>
    <br />
    <img class="img-circle" src="{{image}}" alt="{{ml}}" />
    <br />
    <h2>{{ml}} <br /> milliliters</h2>
  </div>
  <br />
  <button class="enterButton">fin-tastic! 九덢잺</button>
  <button class="clearButton" onClick="history.back();">游 Back Home</button>
</div>







<div class="container">
      <div class="shadow"></div>
      <div class="cat">
        <div class="ear"></div>
        <div class="eye"></div>
        <div class="mouth"></div>
        <div class="nose"></div>
        <div class="tail"></div>
        <div class="body"></div>
        <div class="bubble"></div>
</div>